<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/css/cadastro.css">
</head>
<body>

<header class="header">
    <img src="/images/logo.png" class="logo" alt="logo">
    <span class="brand">ReStart.AI</span>
</header>

<div class="center-wrapper">
    <div class="card">

        <h1 class="title">Cadastro</h1>

        <form method="post" action="/usuarios/cadastro">

            <label>Nome Completo:</label>
            <input type="text" name="nome" placeholder="Digite seu nome completo">

            <label>CPF:</label>
            <input type="text" name="cpf" placeholder="000.000.000-00">

            <label>Data de nascimento:</label>
            <input type="text" name="dataNascimento" placeholder="xx/xx/xxxx">

            <label>Email:</label>
            <input type="email" name="email" placeholder="Digite seu email">

            <label>Senha:</label>
            <input type="password" name="senha" placeholder="Digite sua senha">

            <div class="login-link">
                Já tenho conta?
                <a href="/login">Login</a>
            </div>

            <button type="submit" class="btn">ACESSAR</button>

        </form>

    </div>
</div>

</body>
</html>
