.footer-bar {
    margin-top: 12px;
    width: calc(100% - 48px);
    align-self: center;
    background: #c3e4ff;
    border-radius: 12px;
    padding: 14px 28px;


    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;


    font-size: 15px;
    box-sizing: border-box;
}


.footer-left {
    display: flex;
    gap: 10px;
}


.footer-center {
    text-align: center;
    font-weight: 500;
}


.footer-right {
    display: flex;
    justify-content: flex-end;
}


.btn-footer {
    background: #111827;
    color: #ffffff;
    padding: 10px 26px;
    border-radius: 12px;
    font-size: 15px;
    text-decoration: none;
    box-shadow: 0 3px 8px rgba(0,0,0,0.14);
    transition: 0.25s;
}


.btn-footer:hover {
    transform: scale(1.07);
    box-shadow: 0 5px 12px rgba(0,0,0,0.22);
}


.btn-lang {
    background: #ffffff;
    color: #111827;
    padding: 8px 18px;
    border-radius: 12px;
    font-size: 14px;
    text-decoration: none;
    box-shadow: 0 3px 8px rgba(0,0,0,0.12);
    transition: 0.25s;
}


.btn-lang:hover {
    transform: scale(1.07);
    box-shadow: 0 5px 12px rgba(0,0,0,0.22);
}